html,body{
    margin:0;
}

.font{
    font-family:"Helvetica Neue";
    font-weight:400;
    font-size:14px;
}

.font2{
    font-family:ZapfHumanist601BT-Roman;
}

.flex{
    display:flex;
}

.displayflex{
    display:flex;
    justify-content:center;
    align-items: center;
}

.marginright{
    margin-right:27px;
}

.space{
    margin:0 0 20px 0;
}
